* {
  box-sizing: border-box;
  font-size: 14px;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto"),
    url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "Roboto" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
